    body{
      background-color: #0F0F0F;
    }


    #Balk{
      width: 100%;
      height: 5px;
      background-color: #D32F2F;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
    }

.achtergrond {
    background-color: rgba(128, 128, 128, 0.6); 
    width: 800px;
    height: 600px;
    position: absolute;
    cursor: grab;
    user-select: none;
    border: solid #D32F2F;
    text-align: center;
    color: white;
    z-index: 1000;
}


    .close-btn {
      position: absolute;
      top: 2px;
      left: 780px;
      color: white;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;
      z-index: 10;
    }


    #button{
      margin-top: 30px;
      width: 45px;
      height: 45px;
      background: none;
      border: #D32F2F solid 2px;
      color: white;

    }

